---
import Header from "../components/Sidebar.astro";
import Header1 from "../components/Header1.astro";
import Logpaa from "../components/Logpaa.astro";
import Card from "../components/Card.astro";
import Sidebar from "../components/Sidebar.astro";
import Sidebar2 from "../components/Sidebar2.astro";
import Footer from "../components/Footer.astro";
import Searchard from "../components/Searchcard.astro";
import Searchcard from "../components/Searchcard.astro";
import Sidebarsearch from "../components/Sidebarsearch.astro";

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   
 <Sidebarsearch />
 <Sidebar2 />

    
       <main>
    
        <h1 class="playlister">Spotify-playlister</h1>
                  <section class="playlister1">
<Searchcard header="Podcasts" color="#26856B" />
<Searchcard header="Specielt til dig" color="#1C2E5E" />
<Searchcard header="Hitlister" color="#8D67AB" />
<Searchcard header="Nye udgivelser" color="#E8105B" />
<Searchcard header="Opdag" color="#8865A6" />
<Searchcard header="Live begivenheder" color="#7358FF" />
<Searchcard header="Nye udgivelser" color="#B49BC8" />
<Searchcard header="Pop" color="#EC37A2" />
<Searchcard header="Sommer" color="#9CF0E1" />
<Searchcard header="Party" color="#D7F27D" />
<Searchcard header="Hiphop" color="#8966A7" />
<Searchcard header="EQUAL" color="#158A06" />
<Searchcard header="Hygge" color="#7358FF" />
<Searchcard header="Træning" color="#777777" />
<Searchcard header="Rock" color="#AF2896" />
        </section>

          
       </main>
        
      
      
         
    
   





<Footer />
       
</body>
</html>

<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #000000;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #f0a202;
  --third-color: #eea243;
}

.playlister {
    margin-left: 8.7rem;
    font-size: 3.6rem;
    margin-bottom: 2rem;
     margin-left: 3.8rem;
     margin-top: -8rem;
  
}
.playlisterh1 {
    margin-left: 8.7rem;
    font-size: 3.6rem;
    margin-bottom: 3rem;
    margin-top: 6rem;
     margin-left: 3.8rem;
    
  
}
.playlister1 {
   display: grid;
   grid-template-columns: repeat(auto-fill, 175px);
     gap: 3.6rem;
     margin-left: -5rem;
     
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
   
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  
 

}

main {
    flex-grow: 1; 
    padding-top: 120px; 
    margin-left: 350px;
     margin-top: 90px;
     border-radius: 10px;
   
    background: #121212;
}



</style>