---
const img = Astro.props.img;
const header = Astro.props.header;
const text = Astro.props.text;

---

<section>

     <article>
        <img src={img}>
            <h2>{header}</h2>
            <p>{text}</p>
         </article>

  </section>
          
 

  

         <style>
        section{
            display: grid;
            grid-template-columns: repeat(auto-fill, 180px);
      
            gap: 4rem;
          
            width: 1000px;
            height: auto;
            margin-left: 8.4rem;
        }

     

        article {
            align-items: center;
            justify-content: center;
            padding-top: 2rem;
         
             background-color: #1a191981;
            
            display: grid;
            width: 200px;
            border-radius: 10px;
            transition: ease-in 0.1s;
        }

        article:hover {
          background-color: #1c1b1b;
          transform: scale(1.03);

       
        }


        article img {
            width: 180px;
          margin-left: 0.5rem;
          border-radius: 8px;
       

        }

        p {
            font-size: 1.3rem;
            text-align: left;
            color: rgb(172, 172, 172);
            margin-left: 0.5rem;
        }

h2 {

   margin-left: 0.5rem;
   font-size: 2rem;
        }
         </style>