<button> <img src="globe-white.svg" alt=""> Dansk</button>

<style>
    button {
        margin-top: 3.5rem;
        margin-left: 0em;
        background-color: #121212;
        border: solid 0.7px white;
        color: white;
        border-radius: 10px;
        display: flex;
        padding: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        gap: 0.7em;
        
    }
button img {
    height: 18px;
}
    button:hover {
        transform: scale(1.04);
        border: solid 1.2px white;
   
    }
</style>