 <div class="knapper">
 <a href="#" class="tilmeld">Tilmeld dig</a>
 <a href="#" class="button">Log På</a>
 </div>

 <style>
      .tilmeld {
      display: inline-block;
      padding: 10px 20px;
     
      color: rgb(157, 157, 157);

      border-radius: 20px;
      text-decoration: none;
      transition: transform 0.2s ease, background-color 0.2s ease;
      font-size: 1.8em;
      font-weight: 550;
    }


    .tilmeld:hover {
      
      transform: scale(1.05); 
      color: #f0f0f0;
    }

     .button {
      display: inline-block;
      padding: 5px 13px;
      background-color: white;
      color: black;
      border: 2px solid white;
      border-radius: 20px;
      text-decoration: none;
      transition: transform 0.2s ease, background-color 0.2s ease;
      font-size: 1.8em;
      font-weight: 550;
    }


    .button:hover {
      background-color: #f0f0f0;
      transform: scale(1.05); 
    }

    

 </style>