<button>Tilmeld dig gratis</button>

<style>
    button {

        margin-top: 0.7rem;
        margin-left: 0.7em;
        background-color: white;
        border: solid 0.7px white;
        color: black;
        border-radius: 25px;
        display: flex;
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 0.7em;
        font-size:1.85em;

        
    }
button img {
    height: 18px;
}
    button:hover {
        transform: scale(1.04);
        border: solid 1.2px white;
   
    }